@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700);


$seagreen: #272f32;
$red: #f06a4b;
$deep_red: #ff3b21;
$coral: #9cbdc7;
$charcoal: #272f32;
$black: #231f20;

body {
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}

h1, h4, h5, h6 {
	color: $black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-weight: 400;
	font-size: 2.85em;
}

h4 {
	font-weight: 700;
	font-size: 1.4em;
}

h6 {
	font-weight: 400;
	font-size: 0.9em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
}

a {
	cursor: pointer;
}

.collage-wrapper {
	margin: 5%;
	hr {
		margin: 4em;
		color: #eee;
		border-color: #eee;
		outline-color: #eee;
		border-style: dashed;
		@media (max-width: 767px) {
			margin: 6em 0;
		}
	}
	p.note {
		font-style: italic;
		font-size: 12px;
		line-height: 12px;
		&:before {
			content: "*";
			display: inline;
		}
	}
}

// logo

.alf_logo {
  display: block;
  height: 80px;
  width: 100px;
  background: url('/images/alf_logo.jpg');
}

// top callout

#top-callout {
	background: $seagreen;
	text-align: center;
	p {
		color: #fff;
		padding: 0.5em 15%;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;		
	}
}

// navs

ul#nav,
ul#subnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		a {
			color: #474747;
			width: 100%;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

// nav

ul#nav {
	li {
		display: inline-block;
		width: 18%;
		text-align: center;
		a {
			padding: 42px 10px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 17px;
			border-bottom: 15px solid transparent;
			&:hover {
				font-weight: 700;
			}
			&.active {
				font-weight: 700;
				border-bottom: 15px solid $red;
			}
		}
	}
}

// subnav

ul#subnav {
	display: table;
	background: $coral;
	li {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		a {
			padding: 20px 5%;
			display: block;
			position: relative;
			width: 90%;
			font-family: 'Open Sans', sans-serif;
			font-size: 13px;
			font-weight: 400;
			color: $charcoal;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				border-left: 1px solid #fff;
			}
			&:hover {
				color: #fff;
			}
			@media (min-width: 960px) {
				&:after {
					height: 50%;
					top: 25%;					
				}
			}			
		}
	}
	li:last-child {
		a {
			&:after {
				display: none;
			}			
		}
	}
}

// search form

input {
	color: $coral;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 25px;
	outline: none;
	border: none;
	&:focus{
	    outline: none;
	}
}

.form-field {
	display: inline-block;
	padding: 5px 0;
	border-bottom: 1px solid #000;
	&.search-bar:after {
		content: "";
		background: url('/images/search-glass.svg') no-repeat;
		display: inline-block;
		width: 17px;
		height: 17px;
	}
}

// support drop down
#support-bar {
	background: $seagreen;
	display: block;
	width: 100%;
	padding: 1em 0;
	h3 {
		color: #fff;
		display: inline-block;
		margin: 0 0 0 10%;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
	a {
		color: #fff;
		margin-left: 26px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;		
		text-decoration: none;
		&:after {
			content: "";
			background: url('/images/caret-down.svg') no-repeat;
			background-position: center center;
			display: inline-block;
			margin: 0 0 0 16px;
			width: 11px;
			height: 8px;
		}
		&:first-of-type {
			padding-right: 20px;
			border-right: 1px solid #fff;
		}
	}
}
	[ng-show="donate"] {
		position: fixed;
		display: table;
		z-index: 1000;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.95);
		a.close-overlay {
			color: $seagreen;
			position: absolute;
			top: 50px;
			right: 10%;
			font-size: 1.5em;
			text-decoration: none;
		}
		.inner {
			display: table-cell;
			vertical-align: middle;
			padding-bottom: 4em;
			h1 {
				width: 90%;
				margin: 0 auto;
			}			
		}
	}

// block objects with big text

.block-object {
	display: table;
	width: 100%;
	padding: 77px 0;
	.content {
		display: table-cell;
		vertical-align: middle;
		> * {
			margin: 0 10%;
		}
	}
}

// brochure headline block object

#brochure-headline {
	background: url('https://placekitten.com/1000/300') no-repeat;
	background-size: cover;
	.content {
		> * {
			width: 40%;
		}
		h1 {
			margin-bottom: 1em;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	&.element-collage {
		p {
			color: #666;
		}
	}
}

// quote block object

#quote {
	background: $coral;
	text-align: center;
	.content {
		> * {
			color: #fff;
		}	
		p {
			margin-bottom: 1em;
			font-style: italic;
			font-size: 2.15em;
			font-weight: 600;
			line-height: 1.4em;
		}
		h4 {
			margin-bottom: 0.5em;
		}
	}
}

// link options 

.link-options {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			width: 35%;
			min-height: 116px;
			float: left;
			margin: 0 10%;
			padding-top: 2em;
			border-top: 1px solid #eee;
			&:nth-child(odd) {
				margin-right: 5%;
			}
			&:nth-child(even) {
				margin-left: 5%;
			}
			&:nth-child(1),
			&:nth-child(2) {
				border-top: none;
			}
			a {
				color: $deep_red;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 17px;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			p {
				color: #666;
			}
		}
	}
}


// footer

section#footer {
	background: $seagreen;
	width: 100%;
	min-height: 100px;
	border-top: 5px solid $deep_red;
	ul#social-nav,
	ul#footer-nav {
		list-style-type: none;
		margin: 0;
	}
	ul#social-nav {
		padding: 0 5%;
		text-align: center;
		li {
			display: inline-block;
			padding: 1.5em 0.5em 0;
			a {
				background: #fff;
				display: block;
				width: 25px;
				height: 25px;
				border-radius: 25px;
			}
		}
		@media (min-width: 1000px) {
			float: right;
		}
	}
	ul#footer-nav {
		padding: 1em 5% 0.25em;
		li {
			display: inline-block;
			&:after {
				content: " | ";
				color: #fff;
				display: inline;
				margin: 0 8px;
			}
			&:last-child:after {
				display: none;
			}
		}
	}
	a, p {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 12px;
	}
	a {
		text-decoration: none;
	}
	p {
		margin-top: 0;
		padding: 0.25em 5% 3em;
		line-height: 1.25em;
	}
}


@media (max-width: 767px) {
	ul#nav,
	ul[id*="nav"] {
		display: block;
		li {
			display: block !important;
			width: 100%;
			text-align: center;
			a {
				margin: 0 auto;
				display: block;
				width: 100%;
				border-bottom: 1px solid #ccc;
				padding: 1em 0;
				&.active {
					border-bottom: 1px solid #ccc;
				}
				&:after {
					display: none;
				}
			}
			&:after {
				display: none !important;
			}
		}
	}
	ul[id*="nav"]:not(#nav) {
		li {
			a {
				padding: 0;
				font-size: 1em;
				line-height: 4em;
				border-bottom: 1px solid #fff;
			}
		}
	}
	.form-field.search-bar {
		width: 100%;
		&:after {
			float: right;
		}
		input {
			width: 90%;
		}
	}
	#brochure-headline {
		.content {
			> * {
				width: 80%;
			}
		}
	}
	.link-options {
		ul {
			li {
				width: 80%;
				margin: 0 10% !important;
				&:nth-child(2) {
					border-top: 1px solid #eee;
				}
			}
		}
	}
	section#footer {
		p {
			margin: 3em 0 2em;
		}
	}
}


