---
title: Welcome to your Server
---

<div class="welcome">
  <div class="logo">
  </div>
  <h1>Your Server is ready...</h1>
  <%= link_to "single page", "/single-page.html" %>
  <%= link_to "element collage", "/element-collage.html" %>
</div><!-- .welcome -->
