
<div class="link-options donate-content" ng-show="donate">
	<a href="" class="close-overlay" ng-click="donate = !donate">[close]</a>
	<div class="inner">
		<h1>Ways to Make a Donation</h1>
		<ul>
			<li>
				<a href="#">Lorem ipsum</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla accusantium in quam.</p>
			</li>
			<li>
				<a href="#">Culpa veniam ipsum</a>
				<p>Tempore laboriosam ullam, eaque similique cum nulla consequatur! Neque iure veniam ratione.</p>
			</li>
			<li>
				<a href="#">Lorem ipsum dolor sit amet, consectetur</a>
				<p>Sunt earum atque perspiciatis ipsum placeat esse similique aliquid eligendi vel eos!</p>
			</li>
			<li>
				<a href="#">Quo excepturi aut dignissimos quidem sit, ducimus magni sed</a>
				<p>Commodi dolor similique, accusamus fugit quisquam repudiandae dolorum laboriosam quasi, excepturi vitae.</p>
			</li>
		</ul>
	</div>
</div>